# Get a free API key at: https://aistudio.google.com/apikey
GEMINI_API_KEY=

# models/gemini-flash-lite-latest recommended for free-tier usage
GEMINI_MODEL=models/gemini-flash-lite-latest

# EVM private key that holds token for payments
SENDER_PRIVATE_KEY=0x5b377cd365f36bd7741450f7f121d85e9b3ce0213c904be0924462496c243176

# URL of the x402 Express backend (examples/backend/server.ts)
BACKEND_URL=http://localhost:3001
